<!-- Ubicando  links -->
<a href="<%= landings_y_path%>"> pagina y</a>

<%= link_to("Link z", landings_z_path)%> 

<h1>Landings#z</h1>
<p>Find me in app/views/landings/z.html.erb</p>

<%= @mensaje %>

<ul>
	<% @val.each do |thing| %>
		<li><%= thing %></li>
	<% end %> 

</ul>

<%#= @valor %>
<%# @val = 10 %>
<%#= @val %>